<div class="page-header">
  <h1>Suras <%= current_para_name "For Para" %></h1>
</div>
<table class="table table-striped">
  <tr colspan="3">
    <%= will_paginate(@suras, :renderer => BootstrapPagination::Rails) %>
  </tr>
  <thead>
    <tr>
      <th>Sura number</th>
      <th>Sura name</th>
      <th>Ayats count</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @suras.each do |sura| %>

      <tr>
        <td><%= sura.id %></td>
        <td><%= sura.name %></td>
        <td><%= sura.ayats.size %></td>




        <td>
         <%= link_to "Show", sura_path(sura), :class => 'btn btn-primary', :title => "Open #{sura.name}" %>

         <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_sura_path(sura), :class => 'btn btn-mini' %>

        </td>
      </tr>
      <% end %>

  </tbody>

</table>
  <%= will_paginate(@suras, :renderer => BootstrapPagination::Rails) %>
