<%- model_class = Sura -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @sura.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:para_id) %>:</strong></dt>
  <dd><%= @sura.para_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              suras_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_sura_path(@sura), :class => 'btn' %>
</div>

<h3>Ayats for <%= @sura.name  %></h3>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Ayat number</th>
    <th>Urdu Translation</th>
  </tr>
  </thead>
  <tbody>
  <% @ayats.each do |ayat| %>
      <tr>
        <td><%= ayat.ayat_number %></td>
        <td title="<%=ayat.arabic_content%>"><%= ayat.content %></td>
        </td>
      </tr>
  <% end %>
  <tr colspan="3">
    <%= will_paginate(@ayats, :renderer => BootstrapPagination::Rails, url: sura_path(@sura)) %>
  </tr>
  </tbody>
