<%- model_class = Word -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <tr colspan="6">
    <%= will_paginate(@words, :renderer => BootstrapPagination::Rails) %>
  </tr>
  <thead>
    <tr>
      <th>ID </th>
      <th>Content</th>
      <th>Ayat count</th>
      <th>Sura count</th>

      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @words.each do |word| %>
      <tr>
        <td><%= link_to word.id, word_path(word) %></td>
        <td><%= word.content %></td>
        <td><%= word.ayats_count %></td>
        <td><%= word.suras_count %></td>

        <td>
          <%= link_to "Show", word_path(word), :class => 'btn btn-mini btn-primary' %>
        </td>
      </tr>
    <% end %>

  </tbody>
</table>
<tr colspan="6">
  <%= will_paginate(@words, :renderer => BootstrapPagination::Rails) %>
</tr>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_word_path,
            :class => 'btn btn-primary' %>
