<%- model_class = Word -%>
<div class="page-header">
  <h1>Word</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:content) %>:</strong></dt>
  <dd><%= @word.content %></dd>
</dl>


<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              words_path, :class => 'btn' %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_word_path(@word), :class => 'btn' %>
</div>

<h3>Ayats that contain <%= @word.content %></h3>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Sura</th>
    <th>Ayat number</th>
    <th>Content</th>
  </tr>
  </thead>
  <tbody>
  <% @ayats.each do |ayat| %>
      <tr>
        <td ><%= ayat.sura.id %> - <%= ayat.sura.name%></td>
        <td><%= ayat.ayat_number %></td>
        <td title="<%= ayat.arabic_content %>"><%=highlight  ayat.content, @word.content %></td>
        </td>
      </tr>
  <% end %>
  <tr colspan="3">
    <%= will_paginate(@ayats, :renderer => BootstrapPagination::Rails, url: word_path(@word)) %>
  </tr>
  </tbody>
</table>


<h3>Suras that contain <%= @word.content %></h3>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Sura number</th>
    <th>Name</th>
  </tr>
  </thead>
  <tbody>
  <% @suras.each do |sura| %>
      <tr>
        <td><%= sura.id %></td>
        <td><%= sura.name %></td>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>