<%- model_class = Para -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Para number</th>
      <th>Name %></th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @paras.each do |para| %>
      <tr>
        <td><%= link_to para.id, para_path(para) %></td>
        <td><%= para.name %></td>
        <td>
          <%= link_to "show",para_path(para), :class => 'btn btn-primary' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_para_path(para), :class => 'btn btn-mini' %>

        </td>
      </tr>
    <% end %>
    <tr colspan="3">
      <%= will_paginate(@paras, :renderer => WillPaginate::ActionView::LinkRenderer) %>
    </tr>
  </tbody>
</table>
