<%= form_for @ayat, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :content, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :content, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sura_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :sura_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ayat_num, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :ayat_num, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                ayats_path, :class => 'btn' %>
  </div>
<% end %>
