<div class="page-header">
  <h1>Ayats <%= current_sura_name "For Sura" %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Sura Name</th>
      <th>Urdu translation</th>

      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @ayats.each do |ayat| %>
      <tr>
        <td><%= link_to ayat.ayat_number, ayat_path(ayat) %></td>
        <td><%= ayat.sura_name %></td>
        <td><%= ayat.content %></td>
        <td>
          <%= link_to "Show", ayat_path(ayat), :class => 'btn btn-primary' %>

          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_ayat_path(ayat), :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
    <tr colspan="3">
      <%= will_paginate(@ayats, :renderer =>  BootstrapPagination::Rails) %>
    </tr>
  </tbody>
</table>
