<div class="page-header">
  <h1>Ayat <%= @ayat.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Sura name </strong></dt>
  <div><%= @ayat.sura_name %></div>


  <dt><strong>Ayat number </strong></dt>
  <div><%= @ayat.ayat_number %></div>

  <dt><strong>Urdu Content: </strong></dt>
  <div><%= @ayat.content %>:</strong></div>

  <dt><strong>Arabic Content: </strong></dt>
  <div><%= @ayat.arabic_content %>:</strong></div>

</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              ayats_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_ayat_path(@ayat), :class => 'btn' %>
  <div>
